<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List all users</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head -->
    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <h3>all Users</h3>

    <table class="table">
        <thead>
        <tr>
            <th>key</th>
            <th>username</th>
            <th>firstname</th>
            <th>lastname</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="element : ${users}">
            <td th:text="${element.key}">key</td>
            <td th:text="${element.value.username}">Some name</td>
            <td th:text="${element.value.firstname}">Some name</td>
            <td th:text="${element.value.lastname}">Some name</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
